<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ todo_list.name }}</h1>
                <p><a href = {% url 'update_list' todo_list.pk%}>Edit</a></p>
                <p><a href = {% url 'delete' todo_list.pk%}>Delete</a></p>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Due date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in todo_list.items.all %}
                            <tr>
                                <td><a href="{% url 'update_todo_item' item.pk %}">{{ item.task }}</a></td>
                                <td>{{ item.due_date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <p><a href = {% url 'show_lists'%}>Go back to lists</a></p>
            
        </main>
    </body>
</html>
