<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <main>
            <div>
                <h1>My Lists</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of Items</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for list in todo_lists %}
                            <tr>
                                <td>
                                    <a href={% url 'list_details' list.pk %}>{{ list.name }}</a>
                                </td>
                                <td>{{ list.items.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <p>
                <a href={% url 'create_list' %}>Create your list</a>
                <p><a href = {% url 'create_task_item'%}>Create item</a></p>
            </p>
        </main>
    </body>
</html>
